<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Hệ thống sinh viên</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Cập nhật thông tin sinh viên</h1>
        <hr>
        <form action="#" th:action="@{/saveSinhVien}" th:object="${sinhvien}" method="POST">
            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{masv}" />
            <input type="text" th:field="*{hoten}" class="form-control mb-4 col-4">
            <input type="text" th:field="*{tenkhoa}" class="form-control mb-4 col-4">
            <input type="text" th:field="*{gioitinh}" class="form-control mb-4 col-4">
            <input type="text" th:field="*{diemtin}" class="form-control mb-4 col-4">
            <button type="submit" class="btn btn-info col-2"> Cập nhật sinh viên</button>
        </form>
        <hr>
        <a th:href="@{/}"> Danh sách sinh viên</a>
    </div>
</body>

</html>